*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    background-color: rgb(7, 7, 64);
    height: 90vh;
}
.bodyWheel{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
h1,p{

    color: #fff;
    text-align: center;
}
p{
    font-size: 18px;
}

header img{
    width: 30px;
    height: 30px;
    position: relative;
    left: 5px;
    top: 3px;
}
.container{
    margin: auto;
    background-color: #ccc;
    width: 250px;
    height: 250px;
    border: 8px solid #a0a0a0;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    transform: rotate(0deg);
    background: conic-gradient(
        #3f51b5 0deg 72deg,   /* Blue */
        #ff9800 72deg 144deg, /* Orange */
        #fff5e1 144deg 216deg, /* Purple */
        #cf0e8c 216deg 288deg, /* Green */
        #ffffff 288deg 360deg  /* Red */
    );
    transition: transform 3s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow {
    position: absolute;
    top: 12.5%;
    left: 50%;
    transform: translateX(-50%);
    color: #a2a2a2;
    font-size: 50px;
    z-index: 10;
}
.arrow::before{
    display: inline-block;
    content: '\25bc';
    font-size: 50px;
    color: inherit;
}
#spin{
    position: absolute;
    top:31%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: #e2e2e2;
    text-transform: uppercase;
    border: 6px solid #fff;
    font-weight: bold;
    font-size: 10px;
    color: #908686;
    width: 50px;
    height: 50px;
    font-family: sans-serif;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    letter-spacing: 1px;
}
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ccc;
    color: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    width: 250px;
    z-index: 10;
}

.popup-content {
    position: relative;
    background: rgb(7, 7, 64);
    color: #ccc;
    padding: 30px;
    border-radius: 5px;
}

#close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}